:host {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    padding: 0.5rem;
    border: 1px solid #8f8c8c;
    border-radius: 5px;

    p {
        margin: 0;
        font-size: 20px;
    }

    .chat-bubble__sender {
        font-weight: bold;
        color:rgb(35, 136, 44);
    }
}