:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 4rem);
    margin: 2rem;

    header {
        height: 4rem;
    }

    main {
        height: 100%;
    }

    footer {
        display: flex;
        width: 100%;
    }
}