<app-chat-container>
  <section chat-main class="chat-container__main">

    <app-chat-bubble *ngFor="let message of messages" [sender]="message.sender">
      {{ message.content }}
    </app-chat-bubble>

  </section>
  <section class="chat-container__footer" chat-footer>
    <app-input>
      <input #inputElement type="text" (keyup.enter)="sendMessage()" placeholder="Escribe tu mensaje..." />
      <button app-button (click)="sendMessage()">Send</button>
      <!-- <button app-button (click)="sendBotMessage('Soy un bot xd')">Bot</button> -->
    </app-input>
  </section>
</app-chat-container>