<app-chat-container>
  <section chat-header class="chat-container__header">
    <div>IA Chat</div>
    <div class="chat-container__header__input-api">

      <app-input>
        <input type="text" placeholder="Ingresa tu API" (input)="setApiKey($event)" />
      </app-input>
    </div>

    <p class="chat-container__header__info">
      API: {{ ollamaService.API_URL }}
    </p>
  </section>
  <section chat-main class="chat-container__main">

    <app-chat-bubble *ngFor="let message of messages" [sender]="message.sender">
      {{ message.content }}
    </app-chat-bubble>
     <app-chat-bubble sender="bot" *ngIf="loading">
      Loading...
    </app-chat-bubble>
    <app-chat-bubble sender="bot" *ngIf="error">
      Ups, ha ocurrido un error.
    </app-chat-bubble>

  </section>
  <section class="chat-container__footer" chat-footer>
    <app-input>
      <input #inputElement type="text" (input)="onInput($event)" (keyup.enter)="sendMessage()" placeholder="Escribe tu mensaje..." />
      <button app-button (click)="sendMessage()" [disabled]="disabledButtonSend">Send</button>
      <!-- <button app-button (click)="sendBotMessage('Soy un bot xd')">Bot</button> -->
    </app-input>
  </section>
</app-chat-container>